:root{
    --primary-color: #0f172a;
    --text-color: #ffffff;
    --secondary-color: #581C87;
    --secondary-btn-color: #9333EA;
    --special-text-color: #C084FC;
    --nav-bar-color1: #00000040;

}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Playwrite CU Guides", cursive;
    color: var(--text-color);
}


.main-nav{
    position: fixed;
    width: 90%;
    justify-items: center;
    height: fit-content;
    background-color: var(--primary-color);
    padding: 24px 80px;
}

.links-container{
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--nav-bar-color1);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}


.page-links{
    display: flex;
    align-items: center;
    gap: 38px;
    margin-inline: 90px 0px;
}

.logo-text{
    font-size: 32px;
    position: fixed;
    margin: 20px 450px 20px -500px;
}

.login-links{
    display: flex;
    gap: 38px;
}

.page-btn{
    padding: 12px;
    border-radius: 8px;
    background-color: var(--secondary-btn-color);
    border: 2px;
    font-size: medium;
}

.page-btn2{
    padding: 16px 39px;
    border: 2px solid var(--text-color);
    background-color: var(--primary-color);
    font-size: medium;
    border-radius: 8px;
}

#btn{
    background-color: var(--nav-bar-color1);
}
#btn2{
    background-color: var(--secondary-btn-color);
    border: none;
}

nav a{
    padding: 12px 8px;
    text-decoration: none;
    font-size: medium;
}


.main-content-section1{
    background-color: var(--primary-color);
    padding: 80px;
    width: auto;
    height: fit-content;
}

.desktop{
    width: 1100px;
}

.main-content-div1{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-top: 150px;
}

.main-content-text{
    font-size: 72px;
}

#ampersand{
    color: var(--secondary-btn-color);
}
#underline, .underline2{
    text-decoration: underline;
    text-decoration-color: var(--special-text-color);
    text-underline-offset: 10px;
    text-decoration-skip-ink: none;
}
#overline{
    display: inline-block;
    border-top: 7px solid var(--special-text-color);
    line-height: 0.5;
    padding-left: 0px;
}

.main-content-paragraph{
    font-size: 18px;
    text-align: center;
}

.btn-divs{
    margin-bottom: 60px;
    display: flex;
    gap: 20px;
}

.main-content-div2{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-block: 80px;
    align-items: center;
}

.mobile-only{
    display: none;
}

.companies-vector{
    width: 100%;
    height: 100px;
}

.only-mobile-companies-vector{
    display: none;
}

.main-content-text2{
    font-size: 56px;
}

.main-content-div3{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    padding-block: 80px;
    align-items: start;
}

.main-content-div-jr{
    width: 650px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
    
}

.main-content-div-jr-text1{
    width: auto;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 3px;
}

.main-content-div-jr-text2{
    width: auto;
    font-size: 52px;
    font-weight: 800;  
}

#color-unlimited{
    color: var(--special-text-color);
}
#border-idea{
    border: 5px solid #C2410C;
    margin-inline: 8px 0px;
}

.main-content-div-jr-para1{
    width: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.main-content-div-jr-para2 a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: large;
}

.main-content-div-jr-text3{
    width: auto;
    font-size: 62px;
    font-weight: 800;
}

.desktop2{
    width: 50%;
    height: fit-content;
}

.shapes{
    /* margin-left: -20%; */
    width: 375px;
    height: 379px;
}

.main-content-div4{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 80px;
    padding-block: 80px;
    align-items: center;
}

#color-cu{
    background-color: #BE185D;
    margin-inline: 7px 0px;

}

.main-content-div-jr4{
    width: 650px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 150px;
}

.customer-vector{
    width: 284.18px;
    height: 264.18px;
}

.main-content-div5{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    padding-block: 80px;
    align-items: center;
}

.main-content-section2{
    background-color: var(--secondary-color);
    padding: 80px;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
}

.bigapp-img{
    width: 350px;
    height: 750px;
}

.co-founder{
    width: 64px;
    height: 64px;
    border-radius: 100px;
}

.main-content-section-jr1{
    width: 385px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-around;
}

.main-content-section-jr2{
    width: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 16px;
}

.main-content-section3{
    background-color: var(--text-color);
    padding: 80px;
    width: auto;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--nav-bar-color1);
}

#main-content-section3-idtext{
    color: var(--primary-color);
    font-size: 54px;
}
#explore{
    color: var(--secondary-btn-color);
    font-size: 18px;
    text-decoration: none;
    font-weight: light;
    line-height: 40px;
}

#arrow-right-vector{
    height: 23px;
    width: 27px;
    margin-left: 10px;
    margin-bottom: -7px;
}

.main-content-section3-jr{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.section3-image-container{
    display: flex;
    gap: 24px;
}


.main-content-section3-design-image1{
    width: 100%;
    height: 290px;
    background-image: url(assessment-logos/Horse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.main-content-section3-design-image2{
    width: 100%;
    height: 290px;
    background-image: url(assessment-logos/celebrate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.main-content-section3-design-image3{
    width: 100%;
    height: 290px;
    background-image: url(assessment-logos/Happy\ father.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}


#thinking{
    color: #6B21A8;
    background-color: #F3E8FF;
    width: fit-content;
    margin: 15px 0px 0px 20px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#main-content-section3-heading{
    color: var(--primary-color);
    text-decoration: none;
    width: fit-content;
    font-size: 16px;
}

.section3-image-container-jr{
    margin-top: 250px;
}

.footer{
    width: auto;
    height: fit-content;
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
}

.footer-jr{
    padding-block: 48px;
    border-bottom: 1px solid var(--nav-bar-color1);
    display: flex;
    justify-content: space-between;

}

.footer-jr2{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 217px;
    height: fit-content;
}

.footer-jr02{
    font-size: 32px;
    color: #0F172A;
    margin-block: -10px 0px;
}

.footer-jr3{
    width: auto;
    padding-block: 28px;
    display: flex;
    justify-content: space-between;
}

#footer-text01{
    color: #94A3B8;
    font-size: 16px;
    text-decoration: none;
}

#footer-text{
    color: var(--primary-color);
    font-size: 16px;
    text-decoration: none;
    /* line-height: 140%; */
}


#main-content-section3-heading-1{
    color: #94A3B8;
    font-size: 16px;
}


#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}


/* MOBILE RESPONSIVENESS */

@media(max-width: 500px){

    #sidebar-active{
       display: none;
    }

    .open-sidebar-button, .close-sidebar-button{
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0%
    }

    .menu-btn{
        width: 35px;
        height: 48px;
    }

    .links-container{
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        justify-content: start;
        margin-block: 20px 0px;
        top: 0;
        right: -100%;
        width: 300px;
        z-index: 9999;
        border-radius: 0px;
        background-color: var(--primary-color);
        box-shadow: -5px 0 5px var(--nav-bar-color1);
        transition: .5s ease-out;
    }

    .page-links{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 38px;
        margin: 0px;
    }


    .main-nav{
        width: 87%;
        height: 60px;
        background-color: var(--nav-bar-color1);
        padding: 10px 16px;
        border-radius: 26px;
        margin: 20px 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: end;
        z-index: 9999;
    }

    .logo-text{
        font-size: 40px;
        padding-block: 0px 5px;
        position: relative;
        margin: 0px;
    }

    .login-links{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .main-content-section1{
        background-color: var(--primary-color);
        padding: 36px 16px 48px 16px;
        width: auto;
        height: fit-content;
    }

    #underline{
        text-decoration: none;
    }

    .main-content-div1{
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        margin-block: 30% 0%;
    }

    .main-content-text{
    font-size: 49px;
    text-align: center;
    }

    .main-content-paragraph{
        font-size: 14.9px;
        text-align: center;
    }

    .desktop{
        width: 100%;
    }

    .main-content-div2{
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }



    .main-content-text2{
        font-size: 40px;
        margin-block: 45px 0px;
    }

    .main-content-div2{
        /* width: auto;
        height: fit-content;
        display: flex; */
        flex-direction: column;
        gap: 48px;
        padding: 0px;
        text-align: center;
        align-items: center;
    }

    .companies-vector{
        display: none;
    }
    .only-mobile-companies-vector{
    display: block;
    }

    .main-content-div3{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    text-align: center;
    padding: 48px 0px;
    /* margin-block: 50px 0px; */
    }
    
    .shapes{
        width: 220.65px;
        height: 223px;
        margin-block: 60px 0px;
    }

    .main-content-div-jr-text2{
        width: auto;
        font-size: 38px;
        font-weight: 800;  
    }

    .main-content-div-jr-para1{
        width: auto;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;
        margin-block: 20px;
    }
    .discover-link{
        justify-content: center;
    }

    .main-content-div-jr{
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 24px;
        font-size: 18px;
    }

    .desktop2{
        width: 100%;
        height: fit-content;
        border-radius: 20px;
}

    .main-content-div-jr-para2 a{
        gap: 7px;
        font-size: 23px
   }

    .main-content-div-jr-text1{
        font-size: 22px;
        font-weight: 800;
        z-index: 2;
    }


   .main-content-div-jr-text3{
        width: auto;
        font-size: 40px;
        font-weight: 700;
        z-index: 2;
        margin-top: -10px;
    }
    .mobile-only{
        display: block;
        position: absolute;
        margin-inline: 47.5% 0px;
        margin-top: 10px;
        width: 94px;
        height: 45px;
        border: 3px solid #C2410C;
        z-index: 0;
    }

    .main-content-div4{
        flex-direction: column-reverse;
        padding: 48px 0px;
        text-align: center;
    }

    .main-content-div-jr4{
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin: 0px;
    }


    .main-content-div-jr-para2 a{
        font-size: 20px;
    }

    .main-content-div5{
        flex-direction: column-reverse;
        padding: 48px 0px;
        text-align: center;
        gap: 38px;
    }

    /* MAIN-CONTENT-SECTION2 */

    .main-content-section2{
        padding: 48px 16px;        
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    .main-content-section-jr1{
        align-items: inherit;
        gap: 22px;
    }

    .bigapp-img{
        width: 100%;
        height: 100%;
        margin-block: 40px 0px;
    }

    .main-content-div-jr-text2{
        width: auto;
        font-size: 37px;
        font-weight: 800;  
    }
    .bigapp-para{
        text-align: start;
        padding: 0px 16px;
        margin-block: -35px 0px;
    }

    .main-content-section-jr2{
        gap: 16px;
        margin-inline: 0px 132px;
    }

    /* MAIN-CONTENT-SECTION3 */

    .main-content-section3{
        height: 1690px;
        flex-direction: column;
        padding: 48px 16px 0px 16px;
    }

    .section3-image-container{
        flex-direction: column;
        gap: 190px;
    }

    .main-content-section3-jr{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    #main-content-section3-idtext{
        font-size: 40px;
    }

    #explore{
        color: var(--secondary-btn-color);
        font-size: 20px;
        text-decoration: none;
        font-weight: light;
        line-height: 60px;
        
    }

    /* FOOTER */

    .footer{
        width: auto;
        height: fit-content;
        padding-inline: 16px;
    }


    .footer-jr{
        padding-block: 68px 48px;
        border-bottom: 1px solid var(--nav-bar-color1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    .footer-jr2{
        text-align: center;
        gap: 25px;
    }

    #main-content-section3-heading-1{
        font-size: 24px;
    }

    #main-content-section3-heading{
        color: var(--primary-color);
        text-decoration: none;
        width: auto;
        font-size: 24px;
    }

    .section3-image-container-jr{
        margin-top: 270px;
        font-size: 30px;
    }

    .footer-jr3{
        width: auto;
        padding-block: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    #footer-text{
        color: var(--primary-color);
        font-size: 16px;
        text-decoration: none;
        /* line-height: 140%; */

    }

    .footer-social-icon{
        width: 200px;
    }

}

/* MOBILE RESPONSIVENESS SMALL SCREEN*/

@media(max-width: 360px){
    
    .main-nav{
        width: 86.0%;
        height: 60px;
        background-color: var(--nav-bar-color1);
        padding: 10px 16px;
        border-radius: 26px;
        margin: 20px 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: end;
    }

    .links-container{
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        justify-content: start;
        margin-block: 20px 0px;
        top: 0;
        right: -100%;
        width: 200px;
        z-index: 10;
        border-radius: 0px;
        background-color: var(--primary-color);
        box-shadow: -5px 0 5px var(--nav-bar-color1);
        transition: .5s ease-out;
    }

    .main-content-section-jr1{
        width: 100%;
        align-items: inherit;
        gap: 22px;
    }

    .bigapp-img{
        width: 100%;
        height: 100%;
        margin-block: 40px 0px;
    }

}
